aiohttp==3.10.11
aiohttp_socks==0.9.1
anycaptcha==1.5.4
aiosqlite==0.20.0
ccxt==4.4.9
colorama==0.4.6
eth_abi==5.1.0
eth_account==0.13.5
eth_typing==5.0.1
loguru==0.7.2
pydantic==2.10.6
pyuseragents==1.0.5
questionary==2.1.0
SQLAlchemy==2.0.36
tls_client==1.0.1
typing_extensions==4.12.2
web3==7.6.0
openpyxl==3.1.5
pandas==2.2.3
xlsxwriter==3.2.2